/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    /* Change the box models so the borders and the paddings are no longer added to the total height and width*/
    box-sizing: border-box;
}

/* using inheritance to set up font configuration, and it's more efficient and the best practice*/
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* 1.7 times bigger than the pre-defined line height */
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* here we are setting fist a linear gradient, and then a background img */
    background-image: linear-gradient(
        to right bottom, 
        #7ed56fcb, 
        #28b485d3), 
        url('../img/hero.jpg');
    /* maintain aspect ratio even when zooming */
    background-size: cover;
    /* The top of the image always stays at the top of the container */
    background-position: top;

    /* setting up origin position */
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.logo-box {
    /* here we use absolute positioning */
    position: absolute;
    /* the reference for the starting point is a parent that has it's position set to relative */
    top: 40px;
    left: 40px;
}

.logo {
    pointer-events: none;
    height: 35px;
}


.text-box {
    /* here we set up an absolute position, and then TRANSLATE the box, so the starting point it's at it's center */
    position: absolute;
    top: 40%;
    left: 50%;
    /* this is related to the element, and not it's parent */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    /* fix for animation shakiness */
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;

    /*
        animation-delay: 0.5s;
        animation-iteration-count: 3;
    */
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    /* short syntax for animation */
    animation: moveInRight 0.9s ease-out;
}

/* for browser performance is best to animate only 2 different properties */
/* transform does a lot of things, so usually it's enough */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}